* {
    margin: 0;
    padding: 0;
    border: 0;
}

@font-face {
    font-family: 'Harrington';
    src: url('../fonts/HARNGTON.ttf') format('truetype');
}

@font-face {
    font-family: 'Bodoni MT';
    src: url('../fonts/BOD_R.ttf') format('truetype');
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font: 0.9rem helvetica;
}

/* HEADER & LOGO */
header {
    width: 100%;
    min-height: 95px;
    background-color: #696353;
    margin-bottom: 5%;
    text-align: center;
}

.logo img {
    width: 100px;   /* stays the same for all screen sizes */
    margin-top: 10px;
}

/* MAIN */
main {
    width: 100%;
    font-size: 0.9rem;
    max-width: 1000px;
    margin: auto;
}

/******************** typography ******************/
.typography {
    margin-bottom: 5%;
    width: 100%;
    background-color: #d2cbb9;
    padding: 5%;
}

h1 {
    font-family: 'Harrington';
    font-size: 2rem;
    color: black;
    margin: 0 0 5% 0;
}

h2 {
    font-family: 'Bodoni MT';
    font-size: 1.5rem;
    color: #0b4d2e;
    padding-bottom: 2%;
}

/********************** colors ********************/
.colors {
    width: 100%;
    padding: 5%;
}

ul li {
    display: inline-block;
    width: 40%;
    padding: 10% 10% 10% 2%;
    margin: 0 5% 5% 0;
    color: white;
}

.color1 {
    background-color: #696353;
}

.color2 {
    background-color: #0b4d2e;
}

.color3 {
    background-color: #bd9057;
}

.color4 {
    background-color: #d2cbb9;
    color: black;
}

.color5 {
    background-color: black;
}

/*********************** buttons *********************/
.buttons {
    width: 100%;
    padding: 5%;
    margin-bottom: 5%;
}

button {    /* style stay the same for all screen sizes */
    padding: 15px;
    max-height: 50px;
    border-radius: 5px;
    background-color: #0b4d2e;
    color: white;
}

button:hover {
    background-color: #bd9057;
}

/*********************** images *********************/
.gallery img {
    width: 100%;
    padding: 0 5% 5% 5%;
}

.gallery h2 {
    padding-left: 5%;
}


.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

@media (min-width: 1100px) {
    .typography {
        width: 50%;
        float: left;
    }

    .colors {
        width: 50%;
        float: right;
        padding: 0 0 0 5%;
    }

    .colors ul li {
        width: 40%;
    }
}
